COMMON_FLAGS="-O2 -pipe"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"
# WARNING: Changing your CHOST is not something that should be done lightly.
# Please consult https://wiki.gentoo.org/wiki/Changing_the_CHOST_variable before changing.
CHOST="riscv64-unknown-linux-gnu"

# NOTE: This stage was built with the bindist Use flag enabled
PORTDIR="/var/db/repos/gentoo"
DISTDIR="/var/cache/distfiles"
PKGDIR="/var/cache/binpkgs"

# This sets the language of build output to English.
# Please keep this setting intact when reporting bugs.
LC_MESSAGES=C
MAKEOPTS="-j1"
GENTOO_MIRRORS="https://mirrors.ustc.edu.cn/gentoo/"
EMERGE_DEFAULT_OPTS="--keep-going --with-bdeps=y --autounmask-write=y --quiet-build=y --jobs=1 -l"
# FEATURES="${FEATURES} -userpriv -usersandbox -sandbox"
ACCEPT_KEYWORDS="~riscv"
ACCEPT_LICENSE="*"
L10N="en-US zh-CN en zh"
LINGUAS="en_US zh_CN en zh"
GRUB_PLATFORMS="efi-64"
LLVM_TARGETS="RISCV"
RUBY_TARGETS="ruby30"
INPUT_DEVICES="libinput evdev"
VIDEO_CARDS="vesa"
