.candidate-popup-content {
  font-family: "Sarasa Mono SC", serif,cantarell,sans-serif;
  font-size: 17px;


.candidate-box {
  font-family: "Sarasa Mono SC", serif,cantarell,sans-serif;
  font-size: 17px;
